@import '../../variables.scss';

.component {
  padding-bottom: 24px;
}

.userName {
  text-align: center;
  margin-bottom: 6px;
}

.card {
  background: white;
  border: 1px solid rgba($color-light, 0.5);
  border-radius: 3px;
  padding: 24px;
}