@import '../../variables.scss';

.component {
  margin-bottom: 24px;
}

.day {
  display: flex;
  align-items: center;
  margin-bottom: 18px;

  font-size: 12px;
  font-weight: 700;

  color: rgba($color-light, 0.7);

  &::before {
    content: '';
    flex-shrink: 1;
    height: 1px;
    background: rgba($color-light, 0.5);
    margin-right: 12px;
    width: 12px;
  }
  
  &:after {
    content: '';
    flex-shrink: 0;
    height: 1px;
    flex-grow: 1;
    background: rgba($color-light, 0.5);
    margin-left: 12px;
  }
}