@import '../../variables.scss';

.layoutComponent {
  padding: 0 24px;
}

.layoutCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $header-height;
  padding: 0 24px;
  
  font-size: 24px;
  line-height: 24px;
}

.body { 
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  grid-column-gap: 24px;
}

.emptyState {
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  color: rgba($color-dark, 0.5);
  align-self: center;
}

.spinner {
  width: 64px;
  height: 64px;
}

  .spinner::after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid rgba($color-dark, 0.5);
    border-color: rgba($color-dark, 0.5) transparent rgba($color-dark, 0.5) transparent;
    animation: spinner 1.2s linear infinite;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
